{% extends 'base.html' %}
{% block content %}
<div class="flex-container">
    {% include 'sidebar.html' %}
    <div id="notes">
        <div id="notes-card">
        <h3>Notes</h3>
        {% for note in notes[0]['notes'] %}
        <div class="notes">
             <p>{{ note.title }}</p>
             <span>{{ note.category }}</span>
             <ul>
              <li><a href="{{ url_for('update', id=note.id) }} ">Update</a></li>
              <li><a href="{{ url_for('remove', id=note.id) }}">Remove</a></li>
            </ul>
          </div>
        {% endfor %}
        <a href="" id="add-item">Add item</a>
     </div>
    </div> 
</div>
{% endblock %}