{% extends 'base.html' %}
{% block content %}
<div class="flex-container">
    {% include 'sidebar.html' %}
    <div id="password-generator">
        <div id="password-card">
        <h3>Password Generator</h3>
        <form method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
          <input type="number" min="8" max="48" placeholder=" Password Length(8 - 48 characters)" name="password_length">
          <br>
          <select name="password_characters">
             <option value="letters">Letters</option>
             <option value="alphanumeric">Alphanumeric characters</option>
             <option value="mixed">Alphanumeric and special characters</option>
          </select>
        <div>
             <span id="generated-password">{% if password %}{{ password }}{% endif %}</span>
             <span id="clipboardPasswd">
                 <img src="{{ url_for('static', filename='images/notes.svg')}}">
              </span>
           </div>
        <button>Generate Password</button>
        </form>
     </div>
    </div> 
</div>
{% endblock %}